<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="false"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true">

    <testsuites>
        <testsuite name="RWBE Product Importer">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">includes</directory>
            <file>rwbe-product-importer.php</file>
            <file>uninstall.php</file>
        </include>
    </source>
</phpunit>
